{% extends "layout/base.html" %}

{% set active_page = "jba_weather_app" %}

{% block content %}
    <main>
        <div class="container p-5 text-center m-auto">
            <form action="{{ url_for('weather_app.add_city') }}" method="POST">
                <label for="input-city"></label>
                <input type="text" placeholder="Enter a city name" name="city_name" id="input-city">
                <button type="submit" class="submit-button">Add</button>
            </form>

            <div class="cards">
                {% if weather %}
                    {% for city in weather %}
                        {% include "weather_app/_card.html" %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}