{% extends "layout/base.html" %}

{% set active_page = "admin_microblog_form" %}

{% block back_link %}
    <a class="text-reset back_link"
       href="{{ url_for("admin_microblog.index") }}">
        <i class="fas fa-arrow-alt-circle-left"></i></a>
{% endblock %}

{% block page_content %}
    <div class="row justify-content-center align-items-center">
        <div class="col col-sm-10 col-md-8 col-lg-8 col-xl-6">
            {% if form %}
                <h2 class="text-center">{{ "Add Post" if form_type == "ADD" else "Edit Post" }}</h2>
                {% include "admin_microblog/_post_form.html" %}
            {% endif %}
        </div>
    </div>
{% endblock %}