{% extends "layout/base.html" %}

{% set active_page = "jba_weather_app" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('weather_app.static', filename='css/weather-app.css') }}">
{% endblock %}

{% block page_content %}
    <div class="p-5 my-5 rounded-3 bg-content">
        <div class="text-center">
            <form class="row justify-content-center"
                  action="{{ url_for('weather_app.add_city') }}"
                  method="post">
                <div class="col-auto">
                    <label class="visually-hidden"
                           for="input-city"></label>
                    <input class="form-control bg-dark text-light"
                           type="text"
                           placeholder="Enter a city name"
                           name="city_name"
                           id="input-city">
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary"
                            type="submit">Add
                    </button>
                </div>
            </form>

            <div class="cards row row-cols-4 mt-4">
                {% if weather %}
                    {% for city in weather %}
                        <div class="col mt-4">
                            {% include "weather_app/_card.html" %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}