{% extends "layout/base.html" %}

{% set active_page = "cog_eternity_of_code" %}

{% block content %}
    <main>
        <div class="container p-5 text-center m-auto">
            <h1>Eternity of Code Project</h1>
            <ul class="list-unstyled">
                <li>Total day counter</li>
                <li>Mark days, represented visually similar to a calendar or github</li>
                <li>Support for other users</li>
                <!--Total day coded-->
                <!--Visual representation like a calendar of all days-->
                <!--When clicked on, a card shows with a small description on what has been learned today-->
                <!--or coded. Maybe in future link to github to see activity on repository-->
            </ul>
        </div>
    </main>
{% endblock %}