{% extends "layout/base.html" %}

{% set active_page = "index" %}

{% block page_content %}
    <div class="text-center">
        <h2>Welcome</h2>
        <p>My personal website made with Flask...</p>
        <p>As I grow, so does the website.</p>
    </div>

    <div class="text-center">
        <div class="row">
            <div class="col">
                <p>Recent code</p>
            </div>
            <div class="col">
                <p>Recent posts</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Recent projects</p>
            </div>
            <div class="col">
                <p>Recent books</p>
            </div>
        </div>
    </div>

    <div class="text-center">
        <h2>Testing</h2>
        <ul class="list-unstyled">
            <li><a class="text-reset text-decoration-none local-nav-link"
                   href="{{ url_for("admin.index") }}">Admin</a></li>
            <li><a class="text-reset text-decoration-none local-nav-link"
                   href="{{ url_for("admin_book_library.index") }}">Admin Book Library</a></li>
            <li><a class="text-reset text-decoration-none local-nav-link"
                   href="{{ url_for("book_library.index") }}">Book Library</a></li>
            <li><a class="text-reset text-decoration-none local-nav-link"
                   href="{{ url_for("admin_microblog.index") }}">Admin Microblog</a></li>
            <li><a class="text-reset text-decoration-none local-nav-link"
                   href="{{ url_for("microblog.index") }}">Microblog</a></li>
        </ul>
    </div>
{% endblock %}