{% extends "layout/base.html" %}

{% set active_page = "index" %}

{% block content %}
    <main>
        <div class="container p-5 text-center m-auto">
            <h1>Zaid Neurothrone</h1>
            <p>Software Engineer</p>

            <h2>Testing</h2>
            <ul class="list-unstyled">
                <li><a class="text-reset text-decoration-none local-nav-link"
                       href="{{ url_for("admin.index") }}">Admin</a></li>
                <li><a class="text-reset text-decoration-none local-nav-link"
                       href="{{ url_for("admin_book_library.index") }}">Admin Book Library</a></li>
                <li><a class="text-reset text-decoration-none local-nav-link"
                       href="{{ url_for("book_library.index") }}">Book Library</a></li>
            </ul>
        </div>
    </main>
{% endblock %}