{% extends "layout/base.html" %}

{% set blueprint = "projects" %}

{% set active_page = "projects" %}

{% block content %}
    <main>
        <div class="container p-5 text-center m-auto">
            <h1>Projects Page</h1>
            {#<ul class="list-unstyled">#}
            {#    <li>#}
            {#        <a class="nav-link"#}
            {#           href="{{ url_for(blueprint + '.book_library') }}">Book Library</a>#}
            {#    </li>#}
            {#    <li>#}
            {#        <a class="nav-link"#}
            {#           href="{{ url_for(blueprint + '.eternity_of_code') }}">Eternity of Code</a>#}
            {#    </li>#}
            {#    <li>#}
            {#        <a class="nav-link"#}
            {#           href="{{ url_for(blueprint + '.microblog') }}">Microblog</a>#}
            {#    </li>#}
            {#    <li>#}
            {#        <a class="nav-link"#}
            {#           href="{{ url_for(blueprint + '.todo') }}">To-Do List</a>#}
            {#    </li>#}
            {#</ul>#}
        </div>
    </main>
{% endblock %}