<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex"/>
    <title>{% if title %}{{ title }}{% else %}Neurothrone{% endif %}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">
    {% block head %}{% endblock %}
</head>
<body class="d-flex flex-column h-100">

{% include "layout/header.html" %}

{% block content %}{% endblock %}

{% block scripts %}{% endblock %}

{% include "layout/footer.html" %}

</body>
</html>