<footer class="mt-auto pt-3 text-center">
    <div class="container">
        <div class="row">
            <section class="col">
                <h5 class="mb-3">
                    <span class="footer-header-text">Copyright</span>
                </h5>
                <p class="fw-light">
                    <i class="far fa-copyright"></i> Zaid Neurothrone 2021
                </p>
            </section>
            <section class="col">
                <h5 class="mb-3">
                    <span class="footer-header-text">Follow</span>
                </h5>
                <a class="text-reset text-decoration-none"
                   href="https://www.github.com/neurothrone">
                    <i class="fab fa-github"></i>
                </a>
                <a class="text-reset text-decoration-none"
                   href="https://www.linkedin.com/in/neurothrone/">
                    <i class="fab fa-linkedin"></i>
                </a>
            </section>
        </div>
    </div>
</footer>
