<footer class="main-footer-primary mt-auto pt-3">
    <div class="container">
        <div class="row text-start">
            <div class="col">
                <h5>Company</h5>
            </div>
            <div class="col">
                <h5>Legal</h5>
            </div>
            <div class="col">
                <div>
                    <h5>Social</h5>
                    <ul class="list-unstyled">
                        <li class="py-3">
                            <a class="text-reset text-decoration-none"
                               href="https://www.github.com/neurothrone">
                                <i class="fab fa-github"></i> GitHub
                            </a>
                        </li>
                        <li>
                            <a class="text-reset text-decoration-none"
                               href="https://www.linkedin.com/in/neurothrone">
                                <i class="fab fa-linkedin"></i> LinkedIn
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <h5>Contact</h5>
            </div>
        </div>
    </div>
</footer>
<footer class="main-footer-secondary text-center">
    <i class="far fa-copyright py-3"></i> {{ current_year }} Zaid Neurothrone
</footer>
