{% set blueprint = "main" %}

<header class="main-navigation">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <img class="logo"
                 src="{{ url_for('static', filename='img/logo.png') }}"
                 alt="logo of Neurothrone brand">
            <ul class="navbar-nav ms-5">
                <li class="nav-item">
                    {% if active_page == "index" %}
                        <a class="nav-link"
                           aria-current="page"
                           href="{{ url_for(blueprint + '.index') }}">
                            <span class="nav-link-active"><i class="fas fa-home"></i> Home</span>
                        </a>
                    {% else %}
                        <a class="nav-link"
                           href="{{ url_for(blueprint + '.index') }}">
                            <i class="fas fa-home"></i> Home
                        </a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if active_page == "about" %}
                        <a class="nav-link"
                           aria-current="page"
                           href="{{ url_for(blueprint + '.about') }}">
                            <span class="nav-link-active"><i class="fas fa-address-card"></i> About</span>
                        </a>
                    {% else %}
                        <a class="nav-link"
                           href="{{ url_for(blueprint + '.about') }}">
                            <i class="fas fa-address-card"></i> About
                        </a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if active_page == "projects" %}
                        <a class="nav-link"
                           aria-current="page"
                           href="{{ url_for(blueprint + '.projects') }}">
                            <span class="nav-link-active"><i class="fas fa-hammer"></i> Projects</span>
                        </a>
                    {% else %}
                        <a class="nav-link"
                           href="{{ url_for(blueprint + '.projects') }}">
                            <i class="fas fa-hammer"></i> Projects
                        </a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if active_page == "contact" %}
                        <a class="nav-link"
                           aria-current="page"
                           href="{{ url_for(blueprint + '.contact') }}">
                            <span class="nav-link-active"><i class="fas fa-envelope"></i> Contact</span>
                        </a>
                    {% else %}
                        <a class="nav-link"
                           href="{{ url_for(blueprint + '.contact') }}">
                            <i class="fas fa-envelope"></i> Contact
                        </a>
                    {% endif %}
                </li>
            </ul>

            <!-- TODO: icon for light/dark theme toggle -->
            <div>
                {#<i class="fas fa-moon theme-toggle"></i>#}
                <i class="fas fa-sun theme-toggle"></i>
            </div>
        </div>
    </nav>
</header>
