{% extends "layout/base.html" %}

{% set active_page = "admin_book_library" %}

{% block css %}
    <link rel="stylesheet"
          href="{{ url_for("admin_book_library.static", filename="css/admin-book-library.css") }}">
{% endblock %}

{% block page_content %}
    <div class="text-center">
        <!-- Button trigger modal -->
        <button class="btn btn-outline-primary"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
            Add new book
        </button>
    </div>
    {% include "admin_book_library/_add_book_modal.html" %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for("static", filename="bootstrap/js/bootstrap.bundle.min.js") }}"></script>
{% endblock %}