{% extends "layout/base.html" %}

{% set active_page = "book_library" %}

{% block content %}
    <main>
        <div class="container p-5 text-center m-auto">
            <h1>Book Library Page</h1>
            <p>Books:</p>
            {% for book in books %}
                <ul>
                    <li>{{ book.name }}</li>
                    <li>{{ book.author }}</li>
                    <li>{{ book.category }}</li>
                </ul>
            {% endfor %}
        </div>
    </main>
{% endblock %}