{% extends "layout/base.html" %}

{% set active_page = "cog_index" %}

{% block page_content %}
    <main>
        <div class="text-center">
            <h2>Cortex of Growth Projects</h2>
            <ul class="list-unstyled">
                <li><a class="text-decoration-none local-nav-link"
                       href="{{ url_for("book_library.index") }}">Book Library</a></li>
                <li><a class="text-decoration-none local-nav-link"
                       href="{{ url_for("eternity_of_code.index") }}">Eternity of Code</a></li>
                <li><a class="text-decoration-none local-nav-link"
                       href="{{ url_for("microblog.index") }}">Microblog</a></li>
                <li><a class="text-decoration-none local-nav-link"
                       href="{{ url_for("todo.index") }}">To-Do List</a></li>
            </ul>
        </div>
    </main>
{% endblock %}