.bg-content {
    background-color: var(--bg-color-website-primary) !important;
    border: 1px solid var(--border-color-primary);
}

.bg-dark {
    background-color: var(--bg-color-website-primary) !important;
}

.bg-dark-alt {
    background-color: #111 !important;
}