.main-footer-primary {
    background-color: var(--bg-color-website-primary) !important;
    border-top: 1px solid var(--border-color-website-primary-alt) !important;
    border-bottom: 1px solid var(--border-color-website-primary-alt) !important;
}

.main-footer-secondary {
    background-color: var(--bg-color-footer-secondary) !important;
    width: 100%;
}

.main-footer-header {
    color: var(--text-color-footer-header) !important;
}

.main-footer-link {
    color: var(--text-color-footer-link-primary) !important;
}

.main-footer-link:hover {
    color: var(--text-color-global-nav-link-hover) !important;
}

.main-footer-copyright {
    color: #aaa !important;
}

.main-footer-lang-link {
    color: var(--text-color-footer-link-primary) !important;
}

.main-footer-lang-link:hover {
    color: var(--text-color-global-nav-link-hover) !important;
}