.main-navigation {
    border-bottom: 1px solid var(--border-color-website-primary-alt) !important;
}

.logo {
    height: 50px;
    width: 50px;
}

.nav-link {
    /*color: var(--text-color-global-nav-link) !important;*/
}

.nav-link:hover {
    color: var(--text-color-global-nav-link-hover) !important;
}

/*.active {*/
/*    color: var(--text-color-nav-link-active) !important;*/
/*}*/

.nav-link-active {
    padding-bottom: 10%;
    border-bottom: 2px solid var(--text-color-global-nav-link-hover) !important;
}

.theme-toggle:hover {
    color: var(--text-color-global-nav-link-hover);
}
