<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="container mt-5 mb-0 p-3 bg-light rounded-3 col-lg-8 alert alert-info
                    flash-message
                {% if category == "error" %}
                    flash-message-error
                {% elif category == "info" %}
                    flash-message-info
                {% elif category == "success" %}
                    flash-message-success
                {% elif category == "warning" %}
                    flash-message-warning
                {% endif %}"
                     role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>