<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {#<div class="alert alert-info message" role="alert">{{ message }}</div>#}
                <div class="container mt-5 py-4 bg-light rounded-3 col-lg-8 alert alert-info message"
                     role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    {#    {% with messages = get_flashed_messages(with_categories=true) %}#}
    {#        {% if messages %}#}
    {#            {% for category, message in messages %}#}
    {#<div class="alert alert-info" role="alert">{{ message }}</div>#}
    {#                <div class="alert alert-{{ category }}">{{ message }}</div>#}
    {#            {% endfor %}#}
    {#        {% endif %}#}
    {#    {% endwith %}#}
    {##}
    {#    {% if error %}#}
    {#        <div class="alert alert-danger">{{ error }}</div>#}
    {#    {% endif %}#}
    {##}
    {#    {% if msg %}#}
    {#        <div class="alert alert-success">{{ msg }}</div>#}
    {#    {% endif %}#}

</div>